html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    /* outline: 2px solid red; */
}

#navbar {
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
}

#logo {
    height: 60px;
    float: left;
    position: absolute;
    padding-right: 50px;
    overflow: hidden;
}

a:visited { text-decoration: none; }

a:link { text-decoration: none; }

body {
    margin: 0;
    background-color: #121212;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

h3 {
    color: #06B2BB;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    text-align: left;
    top: 10px;
    padding: 0;
    left: 170px;
    margin-bottom: 15px;
    margin-top: 40px;
    position: relative;
    transition: all 0.25s;
}

h3:hover {
    text-shadow: 0px 0px 16px #06B2BB; 
    transition: all 0.25s;
    cursor: pointer;
}

p {
    color: #ffffff;
    font-size: clamp(1rem, 1.5vw, 2rem);
    position: relative;
    margin-left: 11rem;
    padding-right: 1rem;
    text-align: left;
    margin-bottom: 35px;
    font-family: 'Inter', sans-serif;
    cursor: default;
}

h1 {
    text-align: center;
    padding-left: 55px;
}

h5 {
    color: white;
    text-align: center;
    margin-top: auto;
    padding-top: 5px;
    margin-bottom: 0;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
}

#footer {
    background-color:#06B2BB;
    position: fixed; 
    left: 0 ; right: 0; bottom: 0; 
    height: 30px;
    transition: 0.65s all;
}

#footer:hover { 
    background-color: #065b5f;
    transition: 0.65s all;
}

#cssid, #htmlid {
    padding-left: 155px;
}

#cssid img, #htmlid img {
    height: 54px;
}

#cssid img:hover, #htmlid img:hover {
    transition: 0.125s all;
    height: 64px;
}

img {
    float: left;
    position: relative;
    margin-top: -75px;
    left: 208px;
}

ul {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 100%;
    position: fixed;
    background-color: #07534d;
    left: 0;
    top: 0;
  }
  
li a {
    position: sticky;
    display: block;
    color: #06B2BB;
    padding: 8px 8px;
    text-decoration: none;
    font-family: 'Inter';
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5em;
    text-align: center;
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: #ffffff;
    color:#07534d;
    box-shadow: inset 150px 0 0 0 #06B2BB;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    color: white;
}

#topbar {
    background-color: #06B2BB;
    /* height: 7vh; */
    width: 100%;
    position: absolute;
}

#topbar img {
    height: 6.5vh;
    white-space:nowrap;
    position: absolute;
    margin-top: 0px;
    left: 160px;
    float: left;
}

#topbar h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: white;
    position: sticky;
    font-size: clamp(1vh, 5vh, 7vh);
    padding-top: 0.5vh;
    left: 50%;
    right: 50%;
    margin-left: 11rem;
    word-break: break-all;
    white-space: nowrap;
}

iframe {
    margin-left: 208px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    #topbar h1 {
        font-size: 3vh;
    }
    #topbar img {
        height: 4vh;
    }
}

@media (max-width: 600px) {
    /* For mobile phones: */
    ul {
      width: 100vw;
      margin: 0;
      padding: 8px 8px;
      height: 45px;
      overflow-y: hidden;
      position: relative;
    }

    iframe {
        margin-left: 40px;
        height: 400px;
        width: 400px;
    }

    li {
        float: left;
        height: auto;
        list-style-type: none;
    }

    li a {
        display: inline-block;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        /* margin-right: 0.5rem;
        margin-left: 0.5rem; */
        font-size: 5vw;
        
    }

    #topbar {
        position: relative;
        top: 0;
        height: 9vw;
    }

    #topbar img {
        left: 0;
        height: 9vw;
    }

    #topbar h1 {
        margin-left: 0;
        padding-left: 0;
        font-size: 5vw;
        padding-top: 1.5vw;
    }

    p {
        padding: 0;
        margin: 0 auto;
        margin-left: 5vw;
        margin-right: 5vw;
    }

   #htmlid img, #cssid img {
        float: left;
        position: relative;
        margin: 0px;
        padding: 0px;
        left: -120px;
        bottom: 0px;
        top: -75px;
        margin-bottom: -75px;
    }

    h3 {
        position: relative;
        left: 0;
        margin-left: 5rem;
        margin-top: 0px;
    }

    a {
        display:flex;
        padding: 0;
        margin: 0;
    }

    #topbar img {
        height: 5.5vh;
    }
}