* {
    color: #06B2BB;
    font-family: 'Inter', sans-serif;
    color: #FA5456;
}

#navbar {
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    color: #FA5456;

    margin-top: 0px;
    margin-bottom: 20px;
}

/*  COLOR THEME
    #06B2BB
    #FDD219
    #F7882B
    #FA5456
*/