#navbar {
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
}

body {
    margin: 0;
}

h3 {
    color: #06B2BB;
    font-size: 64px;
    margin: auto;
    width: 50%;

    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
}

p {
    color: #06B2BB;
    font-size: 18px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
}

h1 {
    text-align: center;
}

#cssid, #htmlid {
    width: 0;
    margin: auto;
    position:relative;
    left: -20px;
}

#cssid img{
    height: 54px;
}

#cssid img:hover {
    height: 64px;
    transition: all 0.25s;
}

#htmlid img {
    height: 54px;
}

#htmlid img:hover {
    height: 64px;
    transition: all 0.25s;
}

img {
    transition: all 0.125s;
    cursor: pointer;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100vh;
    background-color: #FA5456;
    float: left;
  }
  
li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Inter';
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: #ffffff;
    color:  #FA5456;
}

#topbar {
    background-color: #06B2BB;
    height: 60px;
}

#topbar h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: white;
    position: relative;
    top: 10px;
}
/*  COLOR THEME
    #06B2BB
    #FDD219
    #F7882B
    #FA5456
*/